@model ApplicationServicesConfigurationManagementDatabaseAccess.TeamDynamixIntegration

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TeamDynamixIntegration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IntegrationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntegrationName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeamDynamixForm.FormName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamDynamixForm.FormName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPrincipalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPrincipalName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeamDynamixIntegration_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>