@model IEnumerable<AuthenticationServices.OAuth2ClientRole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OAuth2 Client Roles</h2>

<p>
    @Html.ActionLink("Create New Client Role", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WhenCreated)
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WhenCreated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OAuth2ClientRoleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OAuth2ClientRoleID })
        </td>
    </tr>
}

</table>
