@model AuthenticationServices.OAuth2ClientRegistrationViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OAuth2ClientRegistrationViewModel</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ClientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientSecret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientSecret)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestingUPN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestingUPN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpirationTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpirationTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
